*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000;
}
.text{
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(135deg, #ff4500 0%, #0000ff 25%, #ff4408 50%, #ffd000 75%, #ff006a 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 15s linear infinite;
    -webkit-animation: animate 15s linear infinite;
}
@keyframes animate {
    100%{
        background-position: 400%;
    }
}